body{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(249, 249, 249);
  margin-top: -5%;
  background-image: url('https://i.imgur.com/4zbmlNt.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  margin-left: 5%;

  
  }
  
  h1{
    text-shadow:  0 0 7px rgb(0, 238, 24, 0.7),
                  0 0 10px rgb(0, 0, 0),
                  0 0 21px rgb(0, 238, 24, 0.7 ), 
                  0 0 42px rgb(0, 0, 0),
                  0 0 82px rgb(0, 0, 0),
                  0 0 92px rgb(0, 0, 0),
                  0 0 102px rgb(0, 0, 0),
                  0 0 151px rgb(0, 0, 0);
    
}



  
  .header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    color:  rgb(0, 238, 24);
    
    
  }


  #play{
    font-size: 50px;
    border-radius: 10px;
    color:rgb(0, 238, 24);
    background-color: black;
    border-color:rgb(0, 238, 24) ;
    margin-top: 50%;
    box-shadow: 1px 2px 4px 0px rgba(0,238,24,0.7),
                1px 2px 4px 0px rgba(0,238,24,0.7),
                2px 4px 8px 0px rgba(0,238,24,0.7),
                2px 4px 16px 0px rgba(0,238,24,0.7);
    text-shadow: 
              0 0 10px rgb(0, 0, 0),
              0 0 21px rgb(0, 238, 24),
              0 0 42px rgb(0, 0, 0);
    
}


